@{
    ViewBag.Title = "Error";
}

<div class="text-center">
    <h1>Error</h1>
    <h2 class="text-red">@ViewBag.Error</h2>
    <img src="/error.png" height="600px" width="1200px" style="margin-top:30px" />
</div>
